* {
	 margin: 0;
	 padding: 0;
	 text-decoration: none;
	 box-sizing: border-box;
}

::-webkit-scrollbar {
	 display: none;
}

.wrapper {
	 display: grid;
	 grid-template-rows: 80px 1fr;
}

main {
	width: 100vw;
	display: flex;
	height: 100vh;
	overflow: hidden;
}

section {
	 height: 100vh;
	 display: block;
	 align-items: center;
	 justify-content: center;
	 position: relative;
	 overflow: hidden;
}

section .content {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

br {
	height: 0px;
	margin: 0px;
	padding: 0px;
}

.sensorthinks {
	pointer-events: none; 
	z-index: 2; 
	position: absolute;
	right: 21vw; 
	color: #EC2DAD;
	font-size: 25vh;
	line-height: 0.93em;
	opacity: 0.9; 
	font-weight:900; 
	font-family: Montserrat;
	right: 24vw; 
	transition: all .5s ease;
	transition-delay: 0.5s;
	visibility: visible;
}

section:hover ~ .sensorthinks {
	visibility: hidden;
	opacity: 0;
	transition: all .5s ease;
	transition-delay: 0.5s;
}

.date {
	pointer-events: none; 
	z-index: 3; 
	position: absolute; 
	right: -3vw; 
	color: #FF590A; 
	font-size: 20vh;
	line-height: 0.93em;
	opacity: 0.9; 
	font-weight:900; 
	font-family: Montserrat;
	transition: all .5s ease;
	transition-delay: 0.5s;
	visibility: visible;
}

.hackathon {

}

section:hover ~ .date {
	visibility: hidden;
	opacity: 0;
	transition: all .5s ease;
	transition-delay: 0.5s;
}

section:hover ~ section:nth-of-type(7) .title {
	opacity: 0.9;
	transition: all .5s ease;
	transition-delay: 0.5s;
}

section:nth-of-type(7) .title {
	transform: rotate(-90deg);
	opacity: 0.9;
	transition: all .5s ease;
	transition-delay: 0.5s;
}

section:hover .sectionTitle {
	transform: rotate(0deg) translateX(-50%);
	transition: all .5s ease;
	transition-delay: .5s;
	padding: 0.3em 0.6em 0.3em 0.6em;
	width: 100%;
	right: -50%;
}

.sectionTitle {
	color: white;
	background: black;
	z-index: 150;
	font-family: Montserrat;
	font-weight: 700;
	padding: 0.3em 0.6em 0em 0.6em;
	right: 0;
	transform: rotate(-90deg);
	transition: all .5s ease;
	transition-delay: .5s;
	position: absolute;
	transform-origin: 100% 100%;
	font-size: 1.5em;
}

section:nth-of-type(7):hover .title {
	opacity: 0.9;
	transition: all .5s ease;
	transition-delay: 0.5s;
}

section:nth-of-type(7) .title {
	color: #FF590A; /*EC2DAD*/
	font-weight: 900;
	font-family: Montserrat Black, Avenir Next Bold, Arial, Helvetica, sans-serif;
	font-size: 9.5vw;
	line-height: 8vw;
	transform: rotate(-90deg);
	z-index: 100;
	opacity: 0.0;
	transition: all .5s ease;
	transition-delay: 0.5s;
	letter-spacing: 1vh;
}

section:hover ~ section:nth-of-type(7) .dateDetails {
	opacity: 0.9;
	transition: all .5s ease;
	transition-delay: 0.5s;
}

section:hover ~ section:nth-of-type(7) .dateDetails {
	width: 100vh;
	color: #EC2DAD; /*EC2DAD*/
	font-weight: 700;
	font-family: Montserrat Black, Avenir Next Bold, Arial, Helvetica, sans-serif;
	font-size: 5vw;
	line-height: 5vw;
	transform: rotate(-90deg);
	z-index: 100;
	opacity: 0.0;
	transition: all .5s ease;
	transition-delay: 0.5s;
	letter-spacing: 1vh;
	position: absolute;
	right: 0;
}


section:hover .content {
	background-color: white;
	transition: background-color .5s ease;
	transition-delay: 0.5s;
}

section .background {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	transform: scale(1.0);
	transition: all .5s;
}

section:hover .background {
	transform: scale(1.1);
	transition: all .5s;
	background-size: cover;
}


/* WIDTH OF COLUMNS */
section:nth-child(1) {
	width: 8.25vw;
	overflow: hidden;
}

section:nth-child(1) .background {
	background: url(../images/ubahn.png) no-repeat right center;
	background-size: cover;
}

section:nth-child(2) {
	width: 6vw;
}

section:nth-child(2) .background {
	background: url(../images/Zeitplan.png) repeat center center, linear-gradient(
		#9e7525, 
		#9e7525
		);
	background-size: 50px;
}

section:nth-child(3) {
	width: 16vw;
}

section:nth-child(3) .background {
	background: url(../images/preise.jpg) repeat center center;
	background-size: cover;
}

section:nth-child(4) {
	width: 12.5vw;
	
}

section:nth-child(4) .background {
	background: url(../images/themen-bg.png) repeat center center;
	background-size: cover;
}

section:nth-child(5) {
	width: 6.5vw;
}

section:nth-child(5) .background {
	background: url(../images/Jury.jpg) repeat center center;
	background-size: cover;
}

section:nth-child(6) {
	width: 12vw;
}

section:nth-child(6) .background {
	background: url(../images/sponsoren.jpg) repeat center center;
	background-size: cover;
}


section:nth-child(7) {
	width: 19vw;
}

section:nth-child(7) .background {
	background: url(../images/Datum.jpg) repeat center center;
	background-size: cover;
}

section:nth-child(8) {
	width: 13vw;
}

section:nth-child(9) {
	width: 6.75vw;
}



section .heading {
	transform: rotate(-90deg);
	z-index: 10;
}



section .content .heading {
	font-size: 1.5em;
	line-height: 1em;
	margin: 0px;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	background: rgba(0, 0, 0, 0.7);
	padding: 0.3em 0.3em 0.1em 0.3em;
	float: left;
	z-index: 10;
}

section .content .sub-heading {
	 display: none;
	 font-family: Arial, Helvetica, sans-serif;
	 color: white;
	 padding: 40px;
	 z-index: 10;
}

 @media screen and (min-width: 981px) {
	section {
		transition: all 0.4s cubic-bezier(.22, .77, .83, .67);
		transition-delay: 0.5s;
	}

	section:hover {
		width: 30vw;
		transition: all .5s;
		transition-delay: 0.5s;
	}

	section:nth-child(7):hover {
		width: 19vw !important;
	}

	section:hover .heading {
		margin-left: 40px;
		font-size: 2em;
		padding: 0.3em 0.3em 0.3em 0.3em;
	}

	section:hover .sub-heading {
		display: inline;
		opacity: 1;
		transition: visibility 0s, opacity 0.5s linear;
		transition-delay: 2s;
	}
	
/*	section:nth-child(odd):hover {
		transform: scale(1.1);
		background-color: yellowgreen;
  		-webkit-transition: background-color 2s ease-in;
		transition: background-color 2s ease-in;
  		-webkit-transition-delay: 2s;
		transition-delay: 2s;
		transition: all .5s;
	}*/
	
	section:hover .heading {
		transform: rotate(0deg);
		transition-delay: 2s;
	}

	
	section:nth-child(odd):hover .heading {
		transform: rotate(0deg);
	}
	
	section .heading {
		transition: all 0.2s cubic-bezier(.22, .77, .83, .67);
	}
}
