/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
}

::-webkit-scrollbar {
	display: none;
}

.wrapper {
	display: -ms-grid;
	display: grid;
	-ms-grid-rows: 80px 1fr;
	grid-template-rows: 80px 1fr;
}

main {
   width: 100vw;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   height: 100vh;
   overflow: hidden;
}

section {
	height: 100vh;
	display: block;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	position: relative;
	overflow: hidden;
}

section .content-wrapper {
   position: absolute;
   left: 0;
   width: 100%;
   height: 100%;
   opacity: 0;
   visibility: hidden;
   -webkit-transition: all .5s ease;
   -o-transition: all .5s ease;
   transition: all .5s ease;
   -webkit-transition-delay: 0.5s;
		-o-transition-delay: 0.5s;
		   transition-delay: 0.5s;
   padding: 1em;
   padding-top: 9vh;
   font-family: Montserrat;
}

.social:hover {
   background-color: white;
   width: 7vh;
   -webkit-transition: all 0.2s ease;
   -o-transition: all 0.2s ease;
   transition: all 0.2s ease;
   padding-left: 2vh;
}

.social:hover img {
   -webkit-filter: invert(1);
		   filter: invert(1);
}

.social {
   width: 5vh; 
   height: 5vh; 
   position: absolute; 
   left: 0; 
   background-color: black;
}

section:hover .content-wrapper {
   opacity: 1;
   visibility: visible;
   -webkit-transition: all .5s ease;
   -o-transition: all .5s ease;
   transition: all .5s ease;
   -webkit-transition-delay: 0.5s;
		-o-transition-delay: 0.5s;
		   transition-delay: 0.5s;
   background-color: white;
}

section .content-wrapper .content {
   opacity: 0;
   visibility: hidden;
   -webkit-transition: all .5s ease;
   -o-transition: all .5s ease;
   transition: all .5s ease;
   -webkit-transition-delay: 0.5s;
		-o-transition-delay: 0.5s;
		   transition-delay: 0.5s;
}

section:hover .content-wrapper .content {
   opacity: 1;
   visibility: visible;
   -webkit-transition: all .5s ease;
   -o-transition: all .5s ease;
   transition: all .5s ease;
   -webkit-transition-delay: 1s;
		-o-transition-delay: 1s;
		   transition-delay: 1s;
}

br {
   height: 0px;
   margin: 0px;
   padding: 0px;
}

.sensorthinks {
   pointer-events: none; 
   z-index: 2; 
   position: absolute;
   right: 30vw; 
   color: #EC2DAD;
   font-size: 33.2vh;
   line-height: 0.75em;
   opacity: 0.8; 
   font-weight:900; 
   font-family: Montserrat;
   -webkit-transition: all .5s ease;
   -o-transition: all .5s ease;
   transition: all .5s ease;
   -webkit-transition-delay: 0.5s;
		-o-transition-delay: 0.5s;
		   transition-delay: 0.5s;
   visibility: visible;
   height: 100vh;
   overflow: hidden;
   z-index: 201;
}

section:hover ~ .sensorthinks {
   visibility: hidden;
   opacity: 0;
   -webkit-transition: all .5s ease;
   -o-transition: all .5s ease;
   transition: all .5s ease;
   -webkit-transition-delay: 0.5s;
		-o-transition-delay: 0.5s;
		   transition-delay: 0.5s;
}

.date {
   pointer-events: none; 
   z-index: 3; 
   position: absolute; 
   right: -3vw; 
   color: #FF590A; 
   font-size: 25.4vh;
   line-height: 0.79em;
   opacity: 0.9; 
   font-weight:900; 
   font-family: Montserrat;
   -webkit-transition: all .5s ease;
   -o-transition: all .5s ease;
   transition: all .5s ease;
   -webkit-transition-delay: 0.5s;
		-o-transition-delay: 0.5s;
		   transition-delay: 0.5s;
   visibility: visible;
   z-index: 200;
   letter-spacing: 0.1em;
   overflow: hidden;
   height: 100vh;
}

.hackathon {
   -webkit-transform: rotate(-90deg);
	   -ms-transform: rotate(-90deg);
		   transform: rotate(-90deg);
   color: white;
   font-family: Montserrat;
   color: #6EB2D1;
   font-weight: 900;
   opacity: 0.8;
   font-size: 13vh;
   z-index: 205;
   position: absolute;
   left: -0.28em;
   height: 100vh;
   letter-spacing: 0.087em;
   margin-top: -0.05em;
}

section:hover ~ .date {
   visibility: hidden;
   opacity: 0;
   -webkit-transition: all .5s ease;
   -o-transition: all .5s ease;
   transition: all .5s ease;
   -webkit-transition-delay: 0.5s;
		-o-transition-delay: 0.5s;
		   transition-delay: 0.5s;
}

section:hover ~ section:nth-of-type(7) .title {
   opacity: 0.9;
   -webkit-transition: all .5s ease;
   -o-transition: all .5s ease;
   transition: all .5s ease;
   -webkit-transition-delay: 0.5s;
		-o-transition-delay: 0.5s;
		   transition-delay: 0.5s;
}

section:nth-of-type(7) .title {
   -webkit-transform: rotate(-90deg);
	   -ms-transform: rotate(-90deg);
		   transform: rotate(-90deg);
   opacity: 0.9;
   -webkit-transition: all .5s ease;
   -o-transition: all .5s ease;
   transition: all .5s ease;
   -webkit-transition-delay: 0.5s;
		-o-transition-delay: 0.5s;
		   transition-delay: 0.5s;
}

section:hover .sectionTitle {
   -webkit-transform: rotate(0deg) translateX(-50%);
	   -ms-transform: rotate(0deg) translateX(-50%);
		   transform: rotate(0deg) translateX(-50%);
   -webkit-transition: all .7s ease;
   -o-transition: all .7s ease;
   transition: all .7s ease;
   -webkit-transition-delay: .5s;
		-o-transition-delay: .5s;
		   transition-delay: .5s;
   padding: 0.3em 0.6em 0.3em 0.6em;
   width: 100%;
   right: -50%;
   margin-top: 0em;
   -webkit-transform-origin: 0% 0%;
	   -ms-transform-origin: 0% 0%;
		   transform-origin: 0% 0%;
}

.sectionTitle {
   color: white;
   background: black;
   z-index: 150;
   font-family: Montserrat;
   font-weight: 700;
   padding: 0.3em 0.6em 0em 0.6em;
   right: 0;
   -webkit-transform: rotate(-90deg);
	   -ms-transform: rotate(-90deg);
		   transform: rotate(-90deg);
   -webkit-transition: all .5s ease;
   -o-transition: all .5s ease;
   transition: all .5s ease;
   -webkit-transition-delay: .5s;
		-o-transition-delay: .5s;
		   transition-delay: .5s;
   position: absolute;
   -webkit-transform-origin: 100% 100%;
	   -ms-transform-origin: 100% 100%;
		   transform-origin: 100% 100%;
   font-size: 1.5em;
   width: 400px;
   margin-top: -1.5em;
}

section:nth-of-type(7):hover .title {
   opacity: 0.9;
   -webkit-transition: all .5s ease;
   -o-transition: all .5s ease;
   transition: all .5s ease;
   -webkit-transition-delay: 0.5s;
		-o-transition-delay: 0.5s;
		   transition-delay: 0.5s;
}

section:nth-of-type(7) .title {
   color: #FF590A; /*EC2DAD*/
   font-weight: 900;
   font-family: Montserrat Black, Avenir Next Bold, Arial, Helvetica, sans-serif;
   font-size: 11.2vw;
   line-height: 8.6vw;
   bottom: -2vh;
   -webkit-transform: rotate(-90deg);
	   -ms-transform: rotate(-90deg);
		   transform: rotate(-90deg);
   z-index: 100;
   opacity: 0.0;
   -webkit-transition: all .5s ease;
   -o-transition: all .5s ease;
   transition: all .5s ease;
   -webkit-transition-delay: 0.5s;
		-o-transition-delay: 0.5s;
		   transition-delay: 0.5s;
   letter-spacing: 0.8vh;
   position: absolute;
   width: 100%;
   left: 0%;
}

section:nth-of-type(7) .dateDetails {
   color: #EC2DAD; /*EC2DAD*/
   font-weight: 900;
   font-family: Montserrat Black, Avenir Next Bold, Arial, Helvetica, sans-serif;
   font-size: 6vw;
   line-height: 5vw;
   bottom: -0.5vh;
   -webkit-transform: rotate(-90deg);
	   -ms-transform: rotate(-90deg);
		   transform: rotate(-90deg);
   z-index: 100;
   opacity: 0.0;
   -webkit-transition: all .5s ease;
   -o-transition: all .5s ease;
   transition: all .5s ease;
   -webkit-transition-delay: 0.5s;
		-o-transition-delay: 0.5s;
		   transition-delay: 0.5s;
   letter-spacing: 1vh;
   position: absolute;
   height: 100vh;
   left: 7.2vw;
   opacity: 0.9;
   transition: all .5s ease;
   transition-delay: 0.5s;
   opacity: 0;
   width: 100vh;
}

section:hover ~ section:nth-of-type(7)  .dateDetails {
   opacity: 0.9;
}


section .background {
   position: absolute;
   left: 0;
   top: 0;
   height: 100%;
   width: 100%;
   -webkit-transform: scale(1.0);
	   -ms-transform: scale(1.0);
		   transform: scale(1.0);
   -webkit-transition: all .5s;
   -o-transition: all .5s;
   transition: all .5s;
}

section:hover .background {
   -webkit-transform: scale(1.1);
	   -ms-transform: scale(1.1);
		   transform: scale(1.1);
   -webkit-transition: all .5s;
   -o-transition: all .5s;
   transition: all .5s;
   background-size: cover;
}


/* WIDTH OF COLUMNS */
section:nth-child(1) {
   width: 8.25vw;
   overflow: hidden;
}

section:nth-child(1) .background {
   background: url(../images/ubahn.png) no-repeat right center;
   background-size: cover;
}

section:nth-child(2) {
   width: 6vw;
}

section:nth-child(2) .background {
   background: url(../images/Zeitplan.png) repeat center center, -webkit-gradient(
	   linear, 
	   left top, left bottom, 
	   from(#9e7525), 
	   to(#9e7525)
	   );
   background: url(../images/Zeitplan.png) repeat center center, -o-linear-gradient(
	   #9e7525, 
	   #9e7525
	   );
   background: url(../images/Zeitplan.png) repeat center center, linear-gradient(
	   #9e7525, 
	   #9e7525
	   );
   background-size: 50px;
}

section:nth-child(3) {
   width: 16vw;
}

section:nth-child(3) .background {
   background: url(../images/preise.jpg) repeat 30% center;
   background-size: cover;
}

section:nth-child(4) {
   width: 12.5vw;
   
}

section:nth-child(4) .background {
   background: url(../images/themen-bg.png) repeat center center;
   background-size: cover;
}

section:nth-child(5) {
   width: 6.5vw;
}

section:nth-child(5) .background {
   background: url(../images/Jury.jpg) repeat center center;
   background-size: cover;
}

section:nth-child(6) {
   width: 12vw;
}

section:nth-child(6) .background {
   background: url(../images/sponsoren.jpg) repeat center center;
   background-size: cover;
}


section:nth-child(7) {
   width: 19vw;
}

section:nth-child(7) .background {
   background: url(../images/Datum.jpg) repeat center center;
   background-size: cover;
}

section:nth-child(8) {
   width: 13vw;
}

section:nth-child(8) .background {
   background: url(../images/ampelmaennchen.png) repeat center center, -webkit-gradient(
	   linear, 
	   left top, left bottom, 
	   from(black), 
	   to(black)
	   );
   background: url(../images/ampelmaennchen.png) repeat center center, -o-linear-gradient(
	   black, 
	   black
	   );
   background: url(../images/ampelmaennchen.png) repeat center center, linear-gradient(
	   black, 
	   black
	   );
   background-size: 50px;
   background-origin: padding-box;
   padding: 50px;
}

section:nth-child(9) {
   width: 6.75vw;
}

section:nth-child(9) .background {
   background: url(../images/FAQ_orange.jpg) repeat center center;
}




section .heading {
   -webkit-transform: rotate(-90deg);
	   -ms-transform: rotate(-90deg);
		   transform: rotate(-90deg);
   z-index: 10;
}

@media screen and (min-width: 981px) {
   section {
	   -webkit-transition: all 0.5s ease;
	   -o-transition: all 0.5s ease;
	   transition: all 0.5s ease;
	   -webkit-transition-delay: 0.5s;
			-o-transition-delay: 0.5s;
			   transition-delay: 0.5s;
   }

   section:hover {
	   width: 30vw;
	   -webkit-transition: all .5s ease;
	   -o-transition: all .5s ease;
	   transition: all .5s ease;
	   -webkit-transition-delay: 0.5s;
			-o-transition-delay: 0.5s;
			   transition-delay: 0.5s;
   }

   section:nth-child(7):hover {
	   width: 19vw !important;
   }

   section:hover .heading {
	   margin-left: 40px;
	   font-size: 2em;
	   padding: 0.3em 0.3em 0.3em 0.3em;
   }

   section:hover .sub-heading {
	   display: inline;
	   opacity: 1;
	   -webkit-transition: visibility 0s, opacity 0.5s linear;
	   -o-transition: visibility 0s, opacity 0.5s linear;
	   transition: visibility 0s, opacity 0.5s linear;
	   -webkit-transition-delay: 2s;
			-o-transition-delay: 2s;
			   transition-delay: 2s;
   }
   
   section:hover .heading {
	   -webkit-transform: rotate(0deg);
		   -ms-transform: rotate(0deg);
			   transform: rotate(0deg);
	   -webkit-transition-delay: 2s;
			-o-transition-delay: 2s;
			   transition-delay: 2s;
   }

   
   section:nth-child(odd):hover .heading {
	   -webkit-transform: rotate(0deg);
		   -ms-transform: rotate(0deg);
			   transform: rotate(0deg);
   }
}